html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.first-image, .second-image, .third-image, .fourth-image { 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.first-image {
    background-image: url(img/1.avif) ;
    min-height: 500px;
    opacity: 0.8;
}

.second-image {
    background-image: url(img/2.avif) ;
    min-height: 500px;
}

.third-image {
    background-image: url(img/3.avif) ;
    min-height: 500px;
}

.fourth-image {
    background-image: url(img/4.avif) ;
    min-height: 500px;
    opacity: 0.8;
}

section {
    text-align: center;
    padding: 3rem 5rem;
}

.section-light {
    background-color: #f4f4f4;
    color: #0f0f0f;
}

.section-dark {
    background-color: #0f0f0f ;
    color: #f4f4f4 ;
}

.image {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.image div {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.first-image span {
    color: black;
    /* background-color: grey;
    padding: 20px; */
}

.fourth-image span {
    color: black;
    /* background-color: grey;
    padding: 20px; */
}